opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Censys'
  scope: "IPv4-Addr,IPv6-Addr,Domain-Name,Hostname"
  log_level: 'info'
  auto: false # Enable/disable auto-enrichment of observables

connector_censys:
  api_base_url: 'https://search.censys.io/api'
  api_id: 'ChangeMe'
  api_secret: 'ChangeMe'
  max_tlp: "TLP:AMBER" # Available values: TLP:CLEAR, TLP:WHITE, TLP:GREEN, TLP:AMBER, TLP:AMBER+STRICT, TLP:RED