opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Arctic Hub'
  scope: 'arctichub'
  log_level: 'info'
  duration_period: 'P1D'  # ISO-8601 duration: daily
  update_existing_data: false

arctichub:
  api_base_url: 'https://cert-be.arcticsecurity.com:9443/api'
  api_customers_path: 'config/v1/customers'
  api_customers_key: 'ChangeMe'
  ip_cidr_expansion: false
  ip_cidr_expansion_max_host_size: 8192
  ip_cidr_expansion_private_networks: false
  customers_ignored_names:
    - '.*test sync.*'
    - '.*sync test.*'

  # Events ingestion (disabled by default)
  enable_events: false
  api_events_path: 'storage/v1/events'
  api_events_key: 'ChangeMe'
  events_batch_size: 500
